@page
@model Patient


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Register</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <form id="registerForm" class="row"  method="post">
                    <h3 class="border-bottom pb-3 mb-4 text-secondary text-center">Create a new account.</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                        <label asp-for="FirstName" class="ms-2 text-muted">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                        <label asp-for="LastName" class="ms-2 text-muted">First Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                        <label asp-for="PhoneNumber" class="ms-2 text-muted">Phone Number</label>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="AddressLine1" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="AddressLine1" class="ms-2 text-muted">Password</label>
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="AddressLine2" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="AddressLine2" class="ms-2 text-muted">Password</label>
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </form>
            </div>
           
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
